ani-rss/ani.json

peerbanhelper/sub/all-in-one.txt

qb/*
!qb/qBittorrent/qBittorrent.conf

jellyfin/cache/*
jellyfin/config/data/*
jellyfin/config/data/ScheduledTasks/*
jellyfin/config/config/ScheduledTasks/*

bangumi/*
movie/*

peerbanhelper/persist/*
!peerbanhelper/persist/peerbanhelper.db

*.untranscoding

*.torrent

*.jpg
*.png
*.webp

*.ttf

*log*
*.lock

peerbanhelper/running.marker
peerbanhelper/persist/*

jellyfin/config/plugins/configurations/*
peerbanhelper/ipdb/geoip/*
peerbanhelper/sub/all-in-one.txt
